* {
    margin: 0;
    padding: 0;
    font-family: "K2D";
}

@font-face {
    font-family: "K2D";
    src: url(/fonts/K2D-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

.image-profile {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: 5px solid #F4CCFE;
}

.bgcolor1 {
    background-color: #2D0C37;
}

.bgcolor2 {
    background-color: #410753;
}



.color1 {
    color: #F4CCFE;
}

.color2 {
    color: #C69DD1;
}

.icons img {
    width: 2em;

    margin-right: 28px;
}

@media (max-width: 576px) {
    .row {
        flex-direction: column;   
    }

}
