* {
    margin: 0;
    padding: 0;
    font-family: "K2D";
}

@font-face {
    font-family: "K2D";
    src: url(/fonts/K2D-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

.image-profile {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: 5px solid #F4CCFE;
}

.bgcolor1 {
    background-color: #2D0C37;
}

.bgcolor2 {
    background-color: #410753;
}



.color1 {
    color: #F4CCFE;
}

.color2 {
    color: #C69DD1;
}

.icon {
    width: 2em;
    display: inline-block;
}

.imagen-tarjeta {
    width: 3em;
    height: auto;
}

.titulo-tarjeta {
    font-size: 24px; 
    margin-bottom: 0;
}

.subtitulo-tarjeta { 
    margin-top: 0;
}

.boton-tarjeta {
    display: inline-block;
    padding: 1px 10px;
    background-color: #410753;
    color: white;
    text-decoration: none;
    border: 2px solid #F4CCFE;
    border-radius: 20px;
}

.boton-tarjeta:hover {
    background-color: #C69DD1;
    border-color: #ffffff;
}

.separador {
    width: 28px;
    display: inline-block;
}

@media (max-width: 576px) {
    .row {
        flex-direction: column;   
    }

}
